
.Layout-booleanEditors {
    display: none !important;
    background-color: aquamarine;
}

.Layout-notesEditor{
    display: none !important;
}

.Layout-labelWithMargins{
    display: none !important;
}

.TextEditor-title{
    display: none !important;
}
