.classess{
    .addclass{
        position: fixed;
        top: 85%;
        left:93%;
        z-index: 1000;
    }
}
.class-item{
    margin: 10px;
    cursor: pointer;
}

.classes-title{
    text-align: center;
    font-weight: 700;
    padding-top: 20px;
}

.name_course{
    display: flex;
    margin-left: 7rem;
}

