@import '../../../../styles/_variables.scss';

.footer-container {
  background-color: rgb(0, 22, 93);
}

.footer-item {
  padding: 10px;
  h5 {
    color: white;
    width: fit-content;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(195, 0, 0);
  }

  ul {
    padding: 0;
  }
  .footer-item_infor {
    list-style:square;
    margin-top: 15px;
    color: rgb(228, 238, 255);
    }
}