@import '../../styles/variables';

.teacher-container {
    margin-top: 125px;

    .teacher-header {
        background-color: aliceblue;
        padding: 30px 0;
        padding-left: 100px;

        .teacher-title {
            font-weight: 600;
            color: $primary-color;
        }

    }

    .teacher-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

.card-container {
    background-color: #e8f8ff;
    .card-content {
        width: 300px;
        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .card-infor {
                margin-top: 30px;
            }

        }
        .card-maxim {
            // padding: 10px;
            border-bottom: 1px solid rgb(243, 243, 243);
            text-align: center;
            font-style: italic;
        }
    }
    
}
.card-container:hover{
    background: #0072a2;
    color: white;
    transition: all 0.5s ease-in-out;
}