.tabstudy-item{
    // width: 100%;
    margin-left: 40px!important;
    font-weight: 700!important;
    margin: 10px 0;
    font-size: 18px!important;
}   
.content-inclass{
    margin-top: 100px;
}
.tabstudy{
    padding-top: 15px;
    position: fixed;
    margin-top: 55px;
    border-bottom: 1px solid rgb(236, 236, 236);
    width: 100%;
    background-color: white;
    z-index: 100;
}

.test{
    height: 100vh;
}
#file-name{
    display: none;
}