@import '../../styles/variables';

.about-container {
    margin-top: 125px;

    .about-header {
        background-color: aliceblue;
        padding: 30px 0;
        padding-left: 100px;

        .about-title {
            font-weight: 600;
            color: $primary-color;
        }

    }

    .about-body {
        .image {
            img {
                width: 100%;
            }
        }
        .about-item {
            font-size: 18px;
            margin-top: 10px;
            list-style: none;
            .tilte {
                font-weight: 700;
            }
            p{
                text-align: justify;
            }
        }
    }
}
