.formInfor{
    min-height: 90vh;
    padding-top: 40px;
    .formInfor_title{
        margin-bottom: 30px;
    }
    form{
        width: 50%;
        margin: auto;
        padding: 20px;    
        background-color: white;
        box-shadow: 2px 2px 10px grey;
    }
    h3{
        text-align: center;
    }
}
