.home_container {

    margin-top: 100px;
}

.titleHome {
    background-color: rgb(1, 53, 99);
    color: white;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;

}